@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    /* border: 3px black solid; */
    border-radius: 10px;
    padding: 18px 24px;
    max-width: 345px;
}

.image{
    margin-bottom: 26px;
}

.title{
    font-size: 25px;
    font-weight: 700;
}

.description{
    margin-top: 6px;
    font-size: 20px;
}

.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    list-style: none;
    flex-wrap: wrap;
}

.skill{
    font-size: 21px;
    background-color: var(--color-dark);
    border-radius: 100px;
    padding: 2px 22px;
}

.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 22px;
    padding: 1px 22px;
    border-radius: 100px;
}